NET "red"  LOC = "H14" | IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8 ; 
NET "green"  LOC = "H15" | IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8 ; 
NET "blue"  LOC = "G15" | IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8 ; 
NET "hsync"  LOC = "F15" | IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8 ; 
NET "vsync"  LOC = "F14" | IOSTANDARD = LVTTL | SLEW=FAST | DRIVE=8 ; 

NET "clk"  LOC = "C9" | IOSTANDARD = LVCMOS33 ; 
NET "reset"  LOC = "K17" | IOSTANDARD = LVTTL | PULLDOWN ; 
NET "video_on"  LOC = "F9" | IOSTANDARD = LVCMOS33 | SLEW=SLOW | DRIVE=8 ; 